<html>

<head>
  <meta charset="utf-8">
  <title>Budget</title>
  {% include "bootstrap.html" %}
  {% load static %}
  <script src="{%static 'journal/journal.js' %}"></script>
</head>

<body>
  {% include "nav.html" %}
  <div class="jumbotron">
    <h1>Budget Entries</h1>
    {% if not table_data %}
    </p>There are no budget entries to display.</p>
    {% else %}
    <table id="journal-table" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
      <tr>
        <th>Description</th>
        <th>Category</th>
        <th>Projected</th>
         <th>Actual</th>
        <th>Action</th>
      </tr>
      {% for row in table_data %}
      <tr>
        <td>{{ row.description }}</td>
        <td>{{ row.category }}</td>
        <td>{{ row.projected }}</td>
        <td>{{ row.actual }}</td>
        
        <td>
          <a class="btn btn-primary" href="/budget/edit/{{ row.id }}/">Edit</a>
          <a class="btn btn-primary" href="#" onclick="confirmDeleteModal({{ row.id }})">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
    <form method="GET" action="/budget/add/">
      <input type="submit" class="btn btn-primary" value="Add Budget Entry">
    </form>
  </div>

  <!-- Modal -->
  <div id="deleteModal" class="modal fade" role='dialog'>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Delete Budget Entry</h4>
        </div>
        <div class="modal-body">
          <p>Do you really want to delete this Budget Entry?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <span id='deleteButton'></span>
        </div>
      </div>
    </div>
  </div>
  <!--Modal ends here-->
</body>

</html>
